:root {
    --tangerine: #df552a;
    --seafoam: #00bda3;

	--bg: white;
    --text: black;
    --text-light: rgba(0,0,0,0.5);
	--highlight: var(--tangerine);
	--subtle-accent: rgba(0,0,0,0.1);

	@media (prefers-color-scheme: dark){
		--bg: #28374a;
        --text: white;
        --text-light: rgba(255,255,255,0.8);
		--highlight: var(--seafoam);
		--subtle-accent: rgba(0,0,0,0.25);
	}
}


@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}