.alert-box {
	border: 0.5rem solid var(--highlight);
	margin: 2rem 0;
	padding: 1rem;

	> h3 {
		font-size: 1.25em;
		margin: 0 0 1rem 0;
		color: var(--highlight);
	}
}

.alert-box-content {
	display: none;

	&.alert-box-content-open {
		display: block;
	}
}

.alert-box-button {
	appearance: none;
	border: 0;
	color: white;
	background: var(--highlight);
	line-height: 1;
	text-transform: uppercase;
	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.875em;
	cursor: pointer;

	&:hover {
		background: var(--seafoam);
	}
}