.current-conditions {
	margin: 0;
	font-size: 150%;
	display: grid;
	grid-gap: 1rem;
	grid-column-gap: 1rem;
	align-items: start;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-areas:
		'icon'
		'temp'
		'desc'
		'wind';
}

.current-icon {
	grid-area: icon;
	width: 100%;
	height: auto;
}
