.app-header {
	margin: 2rem auto;
	width: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	margin: 0;
	color: var(--highlight);

	span {
		font-size: 1.25rem;
		font-weight: 400;
		color: var(--text);
		line-height: 1;
		display: block;
	}

	@media (min-width: 768px){
		font-size: 3em;
	}
}

h2 {
	margin-top: 0;
	border-bottom: 0.5rem solid var(--highlight);
	font-size: 1.5em;

	@media (min-width: 768px){
		font-size: 2em;
	}
}




// search

.city-search {
	font-size: 1.5em;
	border: 0.5rem solid var(--subtle-accent);
	border-radius: 0;
	padding: 0.5rem;
	appearance: none;
	width: 100%;

	&:focus {
		outline: 0;
		border-color: var(--highlight);
	}

	&:placeholder {
		color: var(--subtle-accent);
	}

	@media (min-width: 768px){
		max-width: 300px;
	}
}





.search-results {
	background-color: var(--bg);
	max-width: 100%;
	position: absolute;
	z-index: 1000;
	overflow: scroll;
	max-height: 80vh;
	border: 0.5rem solid var(--text);
	padding: 1rem 0 0 0;
	
	> header {
		padding: 0 1rem 0 1rem;
		font-size: 0.875rem;
	}

	@media (min-width: 768px){
		max-width: 50%;
	}
}

.search-results-list {
	list-style: none;
	margin: 0 0 1rem 0;
	padding: 0;

	> li {
		background: var(--bg);
		padding: 0;
		margin: 0;
		border-bottom: 0;
		display: flex;
	}
}


.search-select {
	background: none;
	border: 0;
	display: block;
	width: 100%;
	padding: 0 1rem;
	text-align: left;
	color: var(--text);
	cursor: pointer;

	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	
	&:hover, &:focus {
		background-color: var(--highlight);
		color: white;
	}
}

.search-clear {
	background: var(--subtle-accent);
	border: 0;
	display: block;
	color: var(--text);
	cursor: pointer;
	font-size: 1em;
	line-height: 1.5;

	&:hover, &:focus {
		background: var(--highlight);
		color: var(--bg);
	}
}


// credits section

.credits-section {
	color: var(--text-light);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.875em;

	a {
		color: var(--highlight);
	}

	@media (prefers-color-scheme: dark){
		color: var(--text-light);	
	}
}