.forecast-list {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		margin: 0;

		&:nth-child(4n+3), &:nth-child(4n+4){
			background: var(--subtle-accent);
		}
	}
}

.forecast-item {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
		"day day"
		"temp temp"
		"desc wind"
		"detail detail";
	grid-template-rows: auto;
	align-items: start;
	padding: 1rem;
	border-bottom: 1px solid var(--text);
	line-height: 1;

	@media (min-width: 768px){
		grid-template-columns: 150px auto;
		grid-template-areas: 
			"day temp"
			"day desc"
			"day wind"
			"day detail";
	}
}

.forecast-icon {
	display: inline-block;
	vertical-align: top;
	width: 2em;
	height: 1.5em;
	margin-right: 1ch;
}

.forecast-day {
	grid-area: day;
	font-weight: 700;
}

.forecast-desc {
	grid-area: desc;
	font-size: 1em;
	font-style: italic;
	line-height: 1.5;
	margin: 0;
}

.forecast-temp {
	grid-area: temp;
	font-size: 1.5em;
	font-weight: 900;

	@media (min-width: 768px){
		font-size: 2em;
	}
}

.forecast-wind {
	grid-area: wind;
	font-size: 1em;
}

.forecast-full-desc {
	grid-area: detail;
	line-height: 1.5em;
}



.current-conditions {
	margin: 0;
	font-size: 150%;
	display: grid;
	grid-column-gap: 1rem;
	align-items: start;
	grid-template-columns: minmax(auto,100px) 1fr;
	grid-template-areas: 
		'icon desc'
		'icon temp'
		'icon wind';
}

.current-icon {
	grid-area: icon;
	width: 100%;
	height: auto;
}


.hourly-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hourly-item {
	padding: 0.5rem 0;
	margin: 0;
	border-bottom: 1px solid var(--text);

	time {
		font-weight: 900;
		margin-right: 1rem;
		width: 60px;
		display: inline-block;
	}

	div {
		display: inline;
		padding-right: 1ch;
	}

	@media (min-width: 768px){
		display: flex;

		time {
			text-align: right;
		}

		div {
			display: block;
		}
	}
}